-- Example 0
5
.....
.....
..B..
.....
.....

94.11764705882354
-- Example 1
5
BBBBB
B...B
B...B
B...B
BBBBB

5.882352941176471
-- Example 2
9
.........
.B..B..B.
.........
.........
.B..B..B.
.........
.........
.B..B..B.
.........

0.0
-- Example 3
4
.........................
.........................
.........................
.........................

100.0
-- Example 4
50
......B.......B..B...........................B....
..............B..................BB..B............
B.B.B.............B.....B..............B..........
...................B...B....................BB....
...B.....B.........................B.......B.....B
B.B.........B.....B.......B..B......B.B...B.BB....
..B...................BB...............B..........
.........B...B................B..B................
.......BB.......B....B................B.....BBB...
.......BB..........B..............B......BB.......
...................BB.....................B.......
...B.B.B......B..............B...B......B.........
B................B................................
....B..........B.....B..BB....B...............BB..
..B....B.....B.............B.....B............B...
...................B.B........B..B.........B.B....
.....B.....B......................................
...........BB......BB...B.B........B...B..........
.....BBB..........................................
.B...........B....B...BB......B......B...B.B......
..................B........BB................B....
...............................B..B....BBB.B....B.
..........B.......................................
.....B..........B....BB......B.B......B......B....
.....B..................B........B................
............B.....B..B....BB...B....BB........B...
..B.................B.........B...................
.BB..............B................................
...B....B..................B.................B....
......B...B......B......................B.B.......
..............B..................B.......B........
.....B........BB...B.....B........................
.......B......B.B..B..........B...........B....B..
B...B...........B...B...B......B.B...B..B......B..
....B..B.....B.B.......BB..B............B.B....B..
B.......B..........B.........B...B.BB......B......
....B...............................B.............
.....B.B..........................................
..........B............B......B.B..B....B.........
....B...B.......................B.................
B.................B...........B..B....B...........
...B.....B........................................
...B..B......................................BBB..
.B...B....................................B....B..
...B...B..........B...B.B.........................
.....B.............B...BB..........B..BBB.BB......
....................B.....B.......................
........B..BB..........B.B....B...........B......B
.........B.....BB..B.............B....BB..........
....B..B..............B...B..B..........B.........

77.67558528428094
