-- Example 0
6
Doug#as good
bArneY R.
bArneY   Rubble
 Bob Stone
Bob B. J. Toms
J. Lo

2
Barney Rubble
J. Lo
-- Example 1
6
Doug G.
GG WALNUT DOUG
AB. JONES
A. BOB J.
Gg DouG
GG DOUG

3
Gg Walnut Doug
Gg Doug
Gg Doug
-- Example 2
4
A BIG Mess
A. Big Mess.Mess
ABig
M.MESS

0
