-- Example 0
1
TE
2

Alice
-- Example 1
3
E#E
#T#
E#E
1000000

Bob
-- Example 2
2
T.T.T.
.E.E.E
1

Alice
-- Example 3
1
TTE
6

Alice
-- Example 4
23
..........................
......TTT..TTT..T...T.....
.....T.....T..T.TT.TT.....
......TTT..TTT..T.T.T.....
.........T.T.T..T...T.....
......TTT..T..T.T...T.....
..........................
...E#E#E#E#E#E#E#E#E#E#...
..........................
......TTT..TTT...TTT......
.....T........T.T.........
......TTT.....T..TTT......
.....T...T...T..T...T.....
......TTT....T...TTT......
..........................
...#E#E#E#E#E#E#E#E#E#E...
..........................
....TT...T...T..T.TTT.T...
...T.....T...T..T.T...T...
...T.TT..T...TTTT.TT..T...
...T..T..T...T..T.T.......
....TT...TTT.T..T.T...T...
..........................
987654321

Bob
